@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jersey+10&family=Oswald:wght@200..700&display=swap');

@import 'tailwindcss';

@theme {
  --animate-noise: noise 0.2s steps(2) infinite;

  --animate-spin: slow-rotate 20s linear infinite;

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    ,
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    ,
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    ,
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    ,
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    ,
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    ,
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    ,
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    ,
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    ,
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    ,
    100% {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes slow-rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
  }

  --font-pixel: 'Jersey 10', 'sans-serif';
  --font-oswald: 'Oswald', 'sans-serif'
  --font-main: 'Bricolage Grotesque', 'sans-serif';
  --color-blue-joust: #56acff;
  --color-blue-cosmos: #003049;
  --color-blue-hera: #7179ef;
  --color-pink-ice: #d87cac;
  --color-primary-background: rgba(255, 255, 255, 0.05);
  --color-primary-foreground: #fff;
  --color-secondary-background: rgba(255, 255, 255, 0.03);
  --color-secondary-foreground: rgba(255, 255, 255, 0.2);
  --color-primary-border: rgb(255 255 255 / 0.05);
  --color-green-benzol: #00d372;
  --color-accent-gradient: linear-gradient(90deg,rgba(0, 211, 114, 1) 50%, rgba(86, 172, 255, 1) 100%)
}

:root {
  --main-font: 'Bricolage Grotesque', 'sans-serif';
}

html {
  scroll-behavior: smooth;
}

.fancy-btn {
  background-image: linear-gradient(
    135deg,
    var(--color-green-benzol),
    var(--color-blue-joust) 34%,
    var(--color-blue-hera) 67%,
    var(--color-pink-ice)
  );

  border-radius: 100em;
  padding: 0.2vw;
  max-width: 100%;
  display: inline-block;
}

.button-hover:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pixel-font {
  font-family: var(--font-pixel);
  font-weight: 400;
  font-style: normal;
}

.main-font {
  font-family: var(--font-main);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.border-primary-border {
  border-color: var(--color-primary-border);
}

.bg-primary-background {
  background-color: var(--color-primary-background);
}

.bg-secondary-background {
  background-color: var(--color-secondary-background);
}

.color-blue-joust {
  color: var(--color-blue-joust);
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-noise {
  background-image: var(--bg-noise);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: #000;
}

.before-content-none::before {
  content: '';
}

.bottom_fade {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 20.1275%,
    rgba(255, 255, 255) 100%
  );
}

/*--Swiper--*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff !important
}

.swiper-pagination {
  background-color: rgba(0,0,0,0.3) !important;
  border-radius: 50px !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  backdrop-filter: blur(4px) !important;
  padding: 0px 3px 0px 3px !important;
  height: 20px !important;
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {

  width: 6px !important;
  height: 6px !important;
  
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}