@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Jersey+10&family=Oswald:wght@200..700&display=swap');

@import 'tailwindcss';

@theme {
  --animate-noise: noise 0.2s steps(2) infinite;

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }
    ,
    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }
    ,
    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }
    ,
    30% {
      transform: translate3d(9rem, -9rem, 0);
    }
    ,
    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }
    ,
    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }
    ,
    60% {
      transform: translate3d(2rem, 6rem, 0);
    }
    ,
    70% {
      transform: translate3d(7rem, -8rem, 0);
    }
    ,
    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }
    ,
    90% {
      transform: translate3d(6rem, -5rem, 0);
    }
    ,
    100% {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  --font-pixel: 'Jersey 10', 'sans-serif';
}

:root {
  --main-font: 'Bricolage Grotesque', 'sans-serif';
}

.pixel-font {
  font-family: var(--font-pixel);
  font-weight: 400;
  font-style: normal;
}

.main-font {
  font-family: var(--main-font);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bg-noise {
  background-image: var(--bg-noise);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: #000;
}

.before-content-none::before {
  content: '';
}
